node_modules/
*node_modules/
*.expo/
.expo/
*dist/
dist/
*npm-debug.*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*web-build/
web-build/

# macOS
.DS_Store
*.DS_Store

.vscode
*.vscode